.contentContainer {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
  height: calc(100vh - 5rem);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero {
  max-width: 600px;

  > span {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
  }

  h1 {
    font-size: 4.5rem;
    line-height: 4.5rem;
    font-weight: 900;
    margin-top: 2.5rem;
  }

  p {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2.5rem;
    line-height: 2.5rem;
  }

  .attention {
    color: var(--cyan-500);
  }

  button {
    border: 0;
    height: 4rem;
    border-radius: 4rem;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0 4rem;
    background: var(--yellow-500);
    margin-top: 2.5rem;
  }
}
